@import "../../styles/variables";

.dropdown {
  cursor: default;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100vw;
  padding: 30px 60px 50px;
  top: 100%;
  left: 0;
  z-index: 1;
  background: $white;
  border-top: 1px solid $light;
  transition: opacity 0.2s ease-in-out 0.1s, visibility 0s 0.25s;

  &.visible {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
}
