version: "3.8"
services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: "Dockerfile.dev"
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
