@import "../../styles/variables";

.hero {
    width: 100vw;
    height: 45vw;
    position: relative;
    display: flex;

    .heroImageContainer {
      position: absolute;
      width: 100vw;
      height: 45vw;
    }

    h1 {
      z-index: 1;
      margin: auto;
      font-size: 4rem;
      font-weight: 400;
      color: $white;
    }
  }
