.footerItem {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  color: #4c4c4b;
  width: 180px;

  .label {
    margin: 0 0 15px 0;
  }

  .items {
    color: #808284;

    li {
      font-size: 0.85rem;
      list-style-type:none;
      margin: 0 0 5px 0;
      line-height: 1.2rem;
      transition: color 0.2s;

      &:hover {
        color: #4c4c4b;
      }
    }
  }
}
