@import "../../styles/variables";

.navbarItem {
  height: 100%;
  padding: 0 15px;
  font-size: 0.75rem;

  &:hover {
    cursor: pointer;
  }

  .label {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $transparent;
    color: $charcoal;
    transition: color 0.25s;

    &.faded {
      color: $slate;
    }
  }

  &.parent:hover > span {
    border-bottom: 1px solid $charcoal;
  }
}
