.navbarItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px 0 0;
  font-size: 0.75rem;

  &:hover {
    cursor: pointer;
  }

  &.parent {
    &:hover.label {
      border-bottom: 1px solid #161912;
    }
  }

  &.right {
    padding: 0 0 0 30px;
  }

  .label {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #161912;
    transition: color 0.25s;

    &.faded {
      color: #747571;
    }
  }
}
